
@import 'libs/general-sans.css';
@import 'libs/bootstrap-reboot.min';
@import 'base/variables';

* {
    font-family: 'GeneralSans', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    &:hover {
        text-decoration: none;
    }
}
p {
    margin: 0;
    padding: 0;
}

.btn {
    width: 230px;
    height: 60px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.18px;
    transition: .3s all;
    &:hover {
        color: #000;
    }
    &-2 {
        color: #FFF;
        border: 1px solid #3C3C3C;
        background: #242424;
        &:hover {
            color: #FFF;
        }
    }
}

.block {
    &-title {
        color:  #111;
        font-size: 72px;
        line-height: 114%;
        letter-spacing: -2.16px;
        @include Screen-1200 {
            font-size: 62px;
        }
        @include Screen-992 {
            font-size: 56px;
        }
        @include Screen-768 {
            font-size: 42px;
        }
        @include Screen-576 {
            font-size: 32px;
        }
    }
}

.container {
    margin: 0 auto;
    padding: 0 64px;
    max-width: 1440px;
    @include Screen-768 {
        padding: 0 20px;
    }
}


@import 'blocks/header';
@import 'blocks/facts';
@import 'blocks/work';
@import 'blocks/feedback';
@import 'blocks/pricing';
@import 'blocks/faq';
@import 'blocks/contact-us';
@import 'blocks/footer';
@import 'blocks/road';