.career {
  margin-bottom: 135px;
  @include Screen-576 {
    margin-bottom: 64px;
  }
  &-nav {
    padding-bottom: 66px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    @include Screen-992 {
      padding-bottom: 44px;
    }
    @include Screen-576 {
      padding-bottom: 32px;
    }
  }
  &__title {
    color:  #111;
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: -2.5px;
    position: relative;
    @include Screen-1200 {
      font-size: 70px;
      max-width: 812px;
    }
    @include Screen-992 {
      font-size: 57px;
      max-width: 681px;
    }
    @include Screen-576 {
      font-size: 42px;
    }
    span {
      padding: 12px;
      border-radius: 12px;
      background: rgba(17, 17, 17, 0.05);
      backdrop-filter: blur(5.5px);
      color: #111;
      font-size: 18px;
      line-height: 114%; /* 20.52px */
      letter-spacing: -0.09px;
      position: absolute;
      right: 11px;
      top: 0;
      @include Screen-768 {
        position: relative;
        margin-top: 16px;
        right: auto;
        top: auto;
        display: block;
        max-width: 137px;
      }
    }
  }

  &-body {
    padding-top: 141px;
    @include Screen-992 {
      padding-top: 32px;
    }
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 68px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 81px;
    @include Screen-992 {
      padding-bottom: 32px;
      margin-bottom: 32px;
    }
    @include Screen-576 {
      flex-direction: column;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &__text {

    }
    &__name {
      color: #111;
      font-size: 56px;
      font-weight: 500;
      line-height: 114%; /* 63.84px */
      letter-spacing: -1.4px;
      margin-bottom: 31px;
      @include Screen-1200 {
        font-size: 46px;
      }
      @include Screen-992 {
        font-size: 32px;
        margin-bottom: 16px;
      }
    }
    &__descr {
      span {
        color:  rgba(17, 17, 17, 0.8);
        font-size: 24px;
        font-weight: 500;
        line-height: 114%; /* 27.36px */
        letter-spacing: -0.6px;
        display: block;
        @include Screen-992 {
          font-size: 18px;
        }
        @include Screen-576 {
          margin-bottom: 36px;
        }
      }
    }

    &-button {

    }
    &-btn {
      color: #FB7B54;
      font-size: 56px;
      font-weight: 500;
      line-height: 114%; /* 63.84px */
      letter-spacing: -1.4px;
      text-decoration-line: underline;
      @include Screen-1200 {
        font-size: 42px;
        max-width: 812px;
      }
      @include Screen-992 {
        font-size: 32px;
      }
      &:hover {
        color: #FB7B54;
      }
    }
  }
}