.contact-us {
  padding: 164px 0 0 0;
  margin-bottom: 187px;
  position: relative;
  @include Screen-576 {
    padding: 38px 0 51px 0;
  }
  &-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-title {
    color: #FFF;
    text-align: center;
    font-size: 52px;
    font-weight: 500;
    line-height: 114%; /* 59.28px */
    letter-spacing: -1.56px;
    margin-bottom: 49px;
    max-width: 959px;
    @include Screen-992 {
      font-size: 44px;
      max-width: 569px;
    }
    @include Screen-768 {
      font-size: 36px;
    }
    @include Screen-576 {
      font-size: 28px;
      letter-spacing: -0.84px;
      // text-align: left;
      margin-bottom: 36px;
    }
  }
  &-btn {
    border-radius: 12px;
    background: #FFF;
    color: #111;
    font-size: 24px;
    line-height: 30px; /* 125% */
    letter-spacing: -0.24px;
    width: 100%;
    max-width: 360px;
    height: 79px;
    @include Screen-992 {
      max-width: 320px;
      height: 69px;
    }
    @include Screen-576 {
      max-width: 279px;
      height: 79px;
    }
  }

  &-line {
    position: absolute;
    top: 5px;
    z-index: -1;
    &__1 {
      left: 0;
    }
    &__2 {
      right: 0;
    }
  }

  &-star {
    position: absolute;
    top: 62px;
    left: calc(50% - 48px);
  }
}