

.facts {
  background: #EBEEF9;
  padding: 120px 0;
  margin-bottom: 42px;
  &-wrap {
    display: flex;
    justify-content: space-between;
    @include Screen-992 {
      display: none;
    }
  }
  &--mobile {
    display: none;
    @include Screen-992 {
      display: block;
    }
  }

  &-card {
    border-radius: 24px;
    background: #FFF;
    padding: 29px 24px 32px;
    max-width: 424px;
    max-height: 443px;
    min-height: 100%;
    width: 100%;
    margin-right: 20px;
    will-change: transform;
    @include Screen-992 {
      height: 353px;
    }
    &:nth-child(2) {
      animation: scrollFirstFact linear both;
      animation-timeline: view(block);
      animation-range: contain 0 contain 100;
    }
    &:nth-child(3) {
      animation: scrollSecondFact linear both;
      animation-timeline: view(block);
      animation-range: contain 0 contain 100;
    }
    &__number {
      color:  #111;
      font-size: 64px;
      font-weight: 600;
      line-height: 135%; 
      letter-spacing: -0.32px;
      margin-bottom: 154px;
      @include Screen-992 {
        font-size: 48px;
        margin-bottom: 84px;
      }
    }

    &__text {
      
    }
    &__title {
      color:  #111;
      font-size: 22px;
      line-height: 135%; /* 29.7px */
      letter-spacing: -0.11px;
      margin-bottom: 12px;
      @include Screen-992 {
        font-size: 18px;
      }
    }
    &__descr {
      color: #484848;
      font-size: 18px;
      font-weight: 500;
      line-height: 135%; /* 24.3px */
      letter-spacing: -0.09px;
      max-width: 302px;
      text-wrap: pretty;
      @include Screen-992 {
        font-size: 16px;
      }
    }
    &:nth-child(2) {
      .facts-card__descr {
        max-width: 317px;
      }
      
    }
    &:nth-child(3) {
      .facts-card__descr {
        max-width: 332px;
      }
    }
  }
}


@keyframes scrollFirstFact {
  from {
    transform: translateY(0)
  }

  to {
    transform: translateY(50px)
  }
}


@keyframes scrollSecondFact {
  from {
    transform: translateY(0)
  }

  to {
    transform: translateY(100px)
  }
}