.facts {
  margin-bottom: 433px;
  position: relative;
  @include Screen-992 {
    margin-bottom: 170px;
  }
  @include Screen-768 {
    margin-bottom: 112px;
  }
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -112px;
    width: 1px;
    height: 829px;
    opacity: 0.3;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 50.62%, rgba(255, 255, 255, 0.00) 100%);
    @include Screen-992 {
      display: none;
    }
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 84px 0 79px 0;
    &::before, &::after {
      content: '';
      position: absolute;
      opacity: 0.3;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 50.62%, rgba(255, 255, 255, 0.00) 100%);
      height: 1px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      max-width: 1088px;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }

    @include Screen-992 {
      flex-direction: column;
      padding: 44px 0 44px 0;
    }
    @include Screen-768 {
      align-items: flex-start;
    }
  }

  &-left {
    @include Screen-992 {
      padding-bottom: 44px;
      margin-bottom: 44px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        opacity: 0.3;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 50.62%, rgba(255, 255, 255, 0.00) 100%);
        height: 1px;
        width: 88vw;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1088px;
        bottom: 0;
      }
    }
  }
  &-right {

  }
  &-left, &-right {
    
  }

  &-title {
    color: #FFF;
    font-size: 30px;
    line-height: 114%; /* 34.2px */
    letter-spacing: -0.9px;
    margin-bottom: 27px;
    @include Screen-768 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  &-descr {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 500;
    line-height: 146.5%; /* 29.3px */
    letter-spacing: -0.1px;
    max-width: 358px;
    @include Screen-768 {
      font-size: 16px;
    }
  }
}