.faq {
  padding: 120px 0;
  @include Screen-576 {
    padding: 64px 0;
  }
  &-text {

  }
  &-title {
    @include Screen-992 {
      margin-bottom: 48px;
    }
    @include Screen-576 {
      font-size: 42px;
    }
  }

  &-wrap {
    display: flex;
    justify-content: space-between;
    @include Screen-992 {
      flex-direction: column;
    }
  }
  &-accordions {
    display: flex;
    flex-direction: column;
  }
  &-accordion {
    width: 704px;
    margin-bottom: 42px;
    overflow: hidden;
    @include Screen-992 {
      width: 100%;
      max-width: 730px;
    }
    @include Screen-576 {
      margin-bottom: 32px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }
    &-body {
      height: auto;
      max-height: 0px;
      transition: .9s all;
      visibility: hidden;
      &--active {
        max-height: 1300px;
        visibility: visible;
      }
    }
    &-title {
      color:  #111;
      font-size: 22px;
      line-height: 145%; /* 31.9px */
      margin-bottom: 8px;
      @include Screen-576 {
        font-size: 16px;
        max-width: 240px;
      }
    }
    &-image {
      svg {

      }
    }
    &-descr {
      color:  #111;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px; /* 150% */
      max-width: 656px;
      width: 100%;
    }

    &--active {
      .faq-accordion {
        &-body {
          max-height: 100px;
        }
      }
    }
  }
}