.faq {
  margin-bottom: 277px;
  @include Screen-992 {
    margin-bottom: 140px;
  }
  @include Screen-576 {
    margin-bottom: 162px;
  }

  &-title {
    margin-bottom: 64px;
    @include Screen-992 {
      margin-bottom: 48px;
    }
    @include Screen-768 {
      margin-bottom: 24px;
    }
  }

  &-wrap {
    display: flex;
    justify-content: space-between;
    @include Screen-992 {
      flex-direction: column;
    }
  }
  &-accordions {
    display: flex;
    flex-direction: column;
  }
  &-accordion {
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,.151);
    background: #111113;
    padding: 24px;
    margin-bottom: 16px;
    overflow: hidden;
    box-sizing: border-box;
    @include Screen-768 {
      padding: 24px 16px 16px 16px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &-nav {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      @include Screen-768 {
        margin-top: -5px;
      }
    }
    &-body {
      height: auto;
      max-height: 0px;
      transition: .9s all;
      visibility: hidden;
      &--active {
        max-height: 1300px;
        visibility: visible;
      }
    }
    &-title {
      color: #FFF;
      font-size: 20px;
      line-height: 145%; /* 29px */
      @include Screen-576 {
        font-size: 16px;
        max-width: 220px;
      }
    }
    &-image {
      svg {

      }
    }
    &-descr {
      color: rgba(255, 255, 255, 0.8);
      font-size: 16px;
      font-weight: 500;
      max-width: 656px;
      width: 100%;
      padding-top: 16px;
      @include Screen-768 {
        font-size: 14px;
      }
    }

    &--active {
      .faq-accordion {
        &-body {
          max-height: 100px;
        }
      }
    }
  }
}