.feedback {
  background: #EBEEF9;
  padding: 155px 0;
  @include Screen-992 {
    padding: 75px 0;
  }
  @include Screen-576 {
    padding: 46px 0;
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include Screen-992 {
      flex-direction: column;
    }
  }
  &-info {
    &__title {
      color: #111;
      font-size: 42px;
      font-weight: 500;
      line-height: 124%; /* 52.08px */
      letter-spacing: -1.26px;
      max-width: 464px;
      @include Screen-992 {
        font-size: 38px;
      }
      @include Screen-768 {
        font-size: 28px;
      }
      @include Screen-576 {
        font-size: 20px;
        text-wrap: pretty;
        letter-spacing: -0.6px;
      }
    }
  }

  &-card {
    border-radius: 8px;
    background: #FFF;
    padding: 39px 32px 32px 32px;
    max-height: 523px;
    max-width: 757px;
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: 20px;
    @include Screen-1340 {
      max-height: 603px;
      max-height: 800px;
    }
    @include Screen-992 {
      max-width: max-content;
      min-width: 100%;
      margin-left: 0;
    }
    @include Screen-576 {
      padding: 24px 17px;
    }
    &__quote {
      position: absolute;
      top: 47px;
      right: 52px;
      @include Screen-1340 {
        top: 37px;
        right: auto;
        left: 32px;
      }
      @include Screen-768 {
        top: 24px;
        left: 32px;
        right: auto;
        svg {
          width: 36px;
        }
      }
      @include Screen-576 {
        left: 16px;
      }
    }
    &__descr {
      color:  #111;
      font-size: 18px;
      font-weight: 500;
      line-height: 145.5%;
      letter-spacing: -0.09px;
      max-width: 476px;
      @include Screen-1340 {
        margin-top: 80px;
      }
      @include Screen-992 {
        margin-top: 70px;
      }
      @include Screen-768 {
        font-size: 16px;
        text-wrap: pretty;
      }
    }
    &__hr {
      width: 239px;
      height: 1px;
      background: rgba(0, 0, 0, 0.15);
      margin: 33px 0 29px 0;
      @include Screen-768 {
        display: none;
      }
    }

    &__user {
      display: flex;
      align-items: center;
      @include Screen-768 {
        margin-top: 32px;
      }
      &-image {
        margin-right: 20px;
        img {
          @include Screen-768 {
            min-width: 60px;
            max-width: 60px;
            width: 100%;
          }
        }
      }
      &-text {

      }
      &-name {
        color:  #111;
        font-size: 18px;
        line-height: 114%;
        letter-spacing: -0.09px;
        margin-bottom: 8px;
        @include Screen-768 {
          font-size: 16px;
          letter-spacing: -0.08px;
        }
      }
      &-position {
        color:  #111;
        font-size: 18px;
        font-weight: 500;
        line-height: 114%;
        letter-spacing: -0.09px;
        @include Screen-768 {
          font-size: 16px;
        }
        @include Screen-576 {
          font-size: 14px;
          letter-spacing: -0.07px;
        }
      }
    }
  }
}