

.nav {
  padding: 26px 0;
  margin-bottom: 98px;
  @include Screen-576 {
    margin-bottom: 52px;
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    @include Screen-576 {
      svg {
        width: 72px;
      }
    }
  }
  &-hamburger {
    height: 16px;
    width: 24px;
    position: relative;
    cursor: pointer;
    display: none;
    @include Screen-768 {
      display: block;
    }
    span, &::before, &::after {
      content: '';
      position: absolute;
      right: 0;
      height: 2px;
      width: 100%;
      background-color: #FFF;
      border-radius: 12px;
    }
    &::before {
      top: 0;
    }
    span {
      top: calc(50% - 1px);
    }
    &::after {
      bottom: 0;
      width: 60%;
    }
  }

  &-list {  
    display: flex;
    align-items: center;
    @include Screen-768 {
      display: none;
    }
    &__item {
      margin-right: 75px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 114%;
        letter-spacing: -0.08px;
        display: flex;
      }
    }

    &__contact {
      font-weight: 600!important;
      &:hover {
        svg {
          transform: translateX(3px);
        }
      }
      svg {
        transition: .3s all;
        margin-left: 8px;
      }
    }
  }

  &-white {
    margin-bottom: 149px;
    @include Screen-992 {
      margin-bottom: 46px;
    }
    .nav {
      &-list__item a {
        color: #111;
        svg {
          path {
            stroke: rgba(17, 17, 17, 1);
          }
        }
      }
      &-hamburger {
        span, &::after, &::before {
          background-color: #111;
        }
      }
    }
  }
}

.header {
  overflow: hidden;
  margin-bottom: 275px;
  &-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 78px;
  }
  &-clutch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    &__image {
      margin-right: 14px;
      max-width: 62px;
    }
    &__text {
      margin-left: 6px;
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      line-height: 135.5%;
    }
  }

  &-title {
    font-size: 77px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: -2.31px;
    margin-bottom: 26px;
    text-align: center;
    span {
      font-weight: 500;
      color: $second-color;
    }
  }

  &-descr {
    color: #BEBEBE;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 135.5%;
    letter-spacing: -0.18px;
    max-width: 430px;
    margin-bottom: 32px;
  }
  &-btn {

  }

  &-scroll {
    display: flex;
    align-items: center;
    width: 270vw;
    transform: translateX(-14%);
    animation: card-scroll 120s infinite linear;
    &-card {
      margin-right: 23px;
      &:last-child {
        margin-right: 0;
      }
      &__image {
        width: 100%;
      }
      &-1 {

      }
      &-2 {

      }
      &-3 {

      }
      &-4 {
        
      }
      &-5 {

      }
      &-6 {

      }
    }
  }


  &-line {
    position: absolute;
    top: 100px;
    z-index: -1;
    &__1 {
      left: 0;
    }
    &__2 {
      right: 0;
    }
  }

  &-star {
    position: absolute;
    &__1 {
      top: 117px;
      right: 117px;
    }
    &__2 {
      left: 90px;
      top: 445px;
      .star-item-v {
        height: 43px;
      }
      .star-item-h {
        width: 43px;
      }
    }
  }
}


@keyframes card-scroll {
  0% {
    transform: translateX(-14%);
  }
  100% {
    transform: translateX(-100%);
  }
}


