

.nav {
  padding: 26px 0;
  margin-bottom: 78px;
  @include Screen-576 {
    margin-bottom: 52px;
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    @include Screen-576 {
      svg {
        width: 72px;
      }
    }
  }
  &-hamburger {
    height: 16px;
    width: 24px;
    position: relative;
    cursor: pointer;
    display: none;
    @include Screen-768 {
      display: block;
    }
    span, &::before, &::after {
      content: '';
      position: absolute;
      right: 0;
      height: 2px;
      width: 100%;
      background-color: #FFF;
      border-radius: 12px;
    }
    &::before {
      top: 0;
    }
    span {
      top: calc(50% - 1px);
    }
    &::after {
      bottom: 0;
      width: 60%;
    }
  }

  &-list {  
    display: flex;
    align-items: center;
    @include Screen-768 {
      display: none;
    }
    &__item {
      margin-right: 75px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 114%;
        letter-spacing: -0.08px;
        display: flex;
      }
    }

    &__contact {
      font-weight: 600!important;
      &:hover {
        svg {
          transform: translateX(3px);
        }
      }
      svg {
        transition: .3s all;
        margin-left: 8px;
      }
    }
  }

  &-white {
    margin-bottom: 149px;
    @include Screen-992 {
      margin-bottom: 46px;
    }
    .nav {
      &-list__item a {
        color: #111;
        svg {
          path {
            stroke: rgba(17, 17, 17, 1);
          }
        }
      }
      &-hamburger {
        span, &::after, &::before {
          background-color: #111;
        }
      }
    }
  }
}

.header {
  background:  #111;
  position: relative;
  overflow: hidden;
  padding-bottom: 88px;
  @include Screen-576 {
    padding-bottom: 42px;
  }
  &-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include Screen-576 {
      align-items: flex-start;
    }
  }

  &-title {
    color: #FFF;
    font-size: 72px;
    line-height: 114%;
    font-weight: 500;
    letter-spacing: -1.8px;
    margin-bottom: 22px;
    text-align: center;
    span {
      font-weight: 500;
    }
    br {
      display: none;
    }
    @include Screen-1200 {
      font-size: 62px;
    }
    @include Screen-992 {
      font-size: 56px;
    }
    @include Screen-768 {
      font-size: 48px;
    }
    @include Screen-576 {
      font-size: 36px;
      margin-bottom: 16px;
      text-align: left;
      br {
        display: block;
      }
    }
  }
  &-descr {
    color: #BEBEBE;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 135.5%;
    letter-spacing: -0.18px;
    margin-bottom: 40px;
    max-width: 430px;
    text-wrap: pretty;
    @include Screen-768 {
      font-size: 16px;
    }
    @include Screen-576 {
      text-align: left;
      max-width: 280px;
      margin-bottom: 75px;
    }
  }
  &-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    @include Screen-576 {
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
  &-btn {
    @include Screen-576 {
      max-width: 340px;
      width: 100%;
    }
    &:last-child {
      margin-left: 16px;
      @include Screen-576 {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }

  &-clutch {
    padding: 16px;
    border-radius: 12px;
    background: #242424;
    backdrop-filter: blur(9px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    @include Screen-768 {
      padding: 13px;
    }
    @include Screen-576 {
      padding: 10px;
    }
    &__image {
      margin-right: 24px;
      @include Screen-576 {
        width: 53px;
        margin-right: 16px;
      }
    }
    &__text {
      display: flex;
      align-items: center;
    }
    svg {
      margin-right: 6px;
    }
    &__rate {
      color: #FFF;
      font-size: 16px;
      line-height: 135.5%;
      @include Screen-576 {
        font-size: 14px;
      }
    }
  }


  &-timeline {
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include Screen-992 {
      display: none;
    }
  }
}

.timeline {
  &-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__1 {
      margin-right: 34px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align-last: left;
      .timeline-item__image-circle {
        &::after {
          left: 36px;
          width: 187px;
          @include Screen-1200 {
            width: 119px;
          }
        }
      }
    }
    &__2 {
      .timeline-item {
        &__title {
          color: #FB7B54;
        }
        &__subtitle {
          color: #FB7B54;
        }
        &__image {
          &-circle {
            background-color: #FB7B54;
            filter: drop-shadow(0px 0px 15px rgba(107, 232, 135, 0.37));
            &::before {
              right: 36px;
              left: auto;
              width: 187px;
              background: linear-gradient(-90deg, #FB7B54 0%, rgba(251, 123, 84, 0.00) 100%);
              @include Screen-1200 {
                width: 119px;
              }
            }
            &::after {
              left: 36px;
              width: 144px;
              background: linear-gradient(90deg, #FB7B54 0%, rgba(251, 123, 84, 0.00) 100%);
              @include Screen-1200 {
                width: 84px;
              }
            }
            
          }
        }
      }
    }
    &__3 {
      .timeline-item {
        margin-left: -4px;
        &__image {
          &-circle {
            margin-right: 0;
            &::before {
              right: 36px;
              left: auto;
              width: 145px;
              background: linear-gradient(-90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
              @include Screen-1200 {
                width: 83px;
              }
            }
            &::after {
              left: 16px;
              width: 200px;
              background: #FFF;
            }
          }
        }
      }
    }
    &__4 {
      align-items: flex-end;
      .timeline-item {
        &__image {
          &-circle {
            margin-right: 0;
            &::before {
              right: 16px;
              left: auto;
              width: 390px;
              background: #FFF;
              @include Screen-1200 {
                width: 200px;
              }
            }
          }
        }
      }
    }
    &__title {
      color: #FFF;
      font-size: 16px;
      line-height: normal;
      letter-spacing: -0.16px;
      text-transform: uppercase;
      margin-bottom: 6px;
    }
    &__subtitle {
      color: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.16px;
      margin-bottom: 27px;
    }
    &__image {
      margin-bottom: 17px;
      display: flex;
      align-items: center;
      position: relative;
      &-circle {
        min-width: 16px;
        min-height: 16px;
        border-radius: 100%;
        background-color: #FFF;
        &:before, &::after {
          content: '';
          position: absolute;
          height: 1px;
          top: calc(50% - 0.5px);
          background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
        }
      }
    }
    &__time {
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.14px;
    }
  }
}