.pricing {
  background-color: #111;
  padding: 57px 0 54px 0;
  color: #FFF;
  &-title {
    color: #FFF;
    margin-bottom: 25px;
  }
  &-subtitle {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: -0.54px;
    margin-bottom: 80px;
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
  }
  
  &-card {
    padding: 36px 32px 32px 32px;
    border-radius: 24px;
    background: #242424;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 563px;
    height: 563px;
    max-width: 426px;
    width: 100%;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    &--active {
      border: 2px solid rgba(251, 123, 84, 0.55);
    }
    &__contact {
      max-height: 384px;
    }
    &__name {
      font-size: 20px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.1px;
      margin-bottom: 12px;
    }
    &__price {
      color: #FFF;
      font-size: 52px;
      line-height: normal;
      letter-spacing: -0.78px;
    }
    &__contact {
      margin-bottom: 12px;
    }
    &__descr {
      font-size: 18px;
      font-weight: 500;
      line-height: 146.5%;
      letter-spacing: -0.27px;
    }
    &__hr {
      height: 1px;
      width: 100%;
      background: rgba(255, 255, 255, 0.2);
      margin: 20px 0; 
    }
    &-list {
      &__item {
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.27px;
        margin-bottom: 18px;
        padding-left: 17px;
        position: relative;
        &::before {
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: #FFF;
          position: absolute;
          left: -8px;
          top: 50%;
          transform: translateY(-50%);
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__btn {
      color: #FFF;
      font-size: 20px;
      line-height: 30px; /* 150% */
      letter-spacing: -0.2px;
      border-radius: 12px;
      border: 1px solid #5A5A5A;
      background: #242424;
      transition: .3s all;
      cursor: pointer;
      height: 64px;
      width: 100%;
      &:hover {
        background: #FFF;
        color: #111;
      }
      &--active {
        background: #FFF;
        color: #111;
      }
    }
  }

  &-info {
    border-radius: 24px;
    background: #242424;
    padding: 24px;
    display: flex;
    align-items: center;
    max-width: 869px;
    &__image {
      margin-right: 32px;
    }
    &__text {

    }
    &__title {
      color: #FFF;
      font-size: 18px;
      line-height: normal;
      letter-spacing: -0.18px;
      margin-bottom: 12px;
    }
    &__descr {
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.18px;
    }
  }
}