.pricing {
  background-color: #111;
  padding: 76px 0 110px 0;
  color: #FFF;
  @include Screen-992 {
    padding: 40px 0 48px 0;
  }
  &-title {
    line-height: 114%; /* 82.08px */
    letter-spacing: -2.16px;
    margin-bottom: 80px;
    color: #FFF;
    text-align: center;
    @include Screen-992 {
      margin-bottom: 38px;
    }
    @include Screen-576 {
      margin-bottom: 24px;
      max-width: 270px;
      text-align: left;
    }
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    @include Screen-992 {
      flex-direction: column;
      align-items: center;
    }
    @include Screen-992 {
      margin-bottom: 29px;
  }
  }
  
  &-card {
    padding: 36px 32px 32px 32px;
    border-radius: 24px;
    background: #242424;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 605px;
    height: 605px;
    max-width: 426px;
    width: 100%;
    margin-right: 20px;
    @include Screen-992 {
      margin-right: 0;
      margin-bottom: 24px;
    }
    @include Screen-576 {
      padding: 24px 16px;
      height: 550px;
      &:first-child {
        height: 502px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &--active {
      border: 2px solid rgba(251, 123, 84, 0.55);
    }
    &__contact {
      max-height: 384px;
      margin-bottom: 12px;
      @include Screen-576 {
        max-height: 306px;
        margin-bottom: 0;
      }
    }
    &__name {
      font-size: 20px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.1px;
      margin-bottom: 12px;
      @include Screen-1200 {
        font-size: 19px;
      }
      @include Screen-576 {
        font-size: 14px;
      }
    }
    &__price {
      color: #FFF;
      font-size: 52px;
      line-height: normal;
      letter-spacing: -0.78px;
      @include Screen-576 {
        font-size: 42px;
      }
    }
    &__descr {
      font-size: 18px;
      font-weight: 500;
      line-height: 146.5%;
      letter-spacing: -0.27px;
      @include Screen-576 {
        font-size: 16px;
      }
    }
    &__hr {
      height: 1px;
      width: 100%;
      background: rgba(255, 255, 255, 0.2);
      margin: 20px 0; 
    }
    &-list {
      &__item {
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.27px;
        margin-bottom: 18px;
        margin-left: 17px;
        padding-left: 9px;
        position: relative;
        @include Screen-576 {
          font-size: 16px;
        }
        &::before {
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: #FFF;
          position: absolute;
          left: -8px;
          top: 50%;
          transform: translateY(-50%);
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__btn {
      color: #FFF;
      font-size: 20px;
      line-height: 30px; /* 150% */
      letter-spacing: -0.2px;
      border-radius: 12px;
      border: 1px solid #5A5A5A;
      background: #242424;
      transition: .3s all;
      cursor: pointer;
      height: 64px;
      width: 100%;
      @include Screen-576 {

      }
      &:hover {
        background: #FFF;
        color: #111;
      }
      &--active {
        background: #FFF;
        color: #111;
      }
    }
  }

  &-info {
    border-radius: 24px;
    background: #242424;
    padding: 24px;
    display: flex;
    align-items: center;
    max-width: 869px;
    @include Screen-576 {
      padding: 20px 16px;
      flex-direction: column;
      align-items: flex-start;
    }
    &-wrap {
      display: flex;
      justify-content: center;
    }
    &__image {
      margin-right: 32px;
      @include Screen-576 {
        margin-right: 0;
        margin-bottom: 32px;
      }
    }
    &__text {

    }
    &__title {
      color: #FFF;
      font-size: 18px;
      line-height: normal;
      letter-spacing: -0.18px;
      margin-bottom: 12px;
      @include Screen-576 {
        font-size: 16px;
      }
    }
    &__descr {
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.18px;
      @include Screen-576 {
        font-size: 16px;
      }
    }
  }
}