.products {
  padding-bottom: 125px;
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-item {
    color:  #111;
    font-size: 24px;
    line-height: 114%;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    position: relative;
    margin-right: 41px;
    display: flex;
    align-items: center;
    &:first-child {
      // margin: 0;
    }
    &:last-child {
      margin: 0;
      span {
        display: none;
      }
    }
    span {
      // content: '';
      // position: absolute;
      // right: -61px;
      // top: 50%;
      // transform: translateY(-50%);
      margin-left: 41px;
      display: flex;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: #FB7B54;
    }
  }
}