.road {
  margin-bottom: 130px;
  @include Screen-768 {
    background: #111;
    margin-bottom: 0px;
  }
  &-wrap {
    border-radius: 24px;
    background: #111;
    padding: 94px 50px 86px;
    display: flex;
    justify-content: space-between;
    @include Screen-992 {
      padding: 84px 30px 76px;
    }
    @include Screen-768 {
      flex-direction: column;
      padding: 54px 50px 46px;
    }
    @include Screen-576 {
      padding: 46px 20px;
    }
  }

  &-card {
    @include Screen-768 {
      margin-bottom: 56px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-image {
      margin-bottom: 35px;
      position: relative;
      width: fit-content;
      @include Screen-992 {
        display: none;
      }
      
    }
    &-circle {
      width: 16px;
      height: 16px;
      background-color: #FFF;
      border-radius: 100%;
      display: flex;
    }
    &-line {
      position: absolute;
      height: 1px;
      width: 95px;
      background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
      top: 50%;
      transform: translateY(-50%);
      &__left {
        right: 40px;
        background: linear-gradient(-90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
      }
      &__right {
        left: 40px;
      }
    }

    &__title {
      color: #FFF;
      font-size: 22px;
      line-height: 114%;
      letter-spacing: -0.66px;
      margin-bottom: 28px;
      @include Screen-768 {
        margin-bottom: 12px;
      }
      @include Screen-576 {
        max-width: 250px;
      }
    }
    &__descr {
      color: #BEBEBE;
      font-size: 18px;
      font-weight: 500;
      line-height: 125%;
      letter-spacing: -0.54px;
      @include Screen-768 {
        font-size: 16px;
      }
    }


    &__1 {
      margin-right: 92px;
      .road-card {
        &__descr {
          max-width: 227px;
        }
      }
    }
    &__2 {
      margin-right: 244px;
      @include Screen-1200 {
        margin-right: 84px;
      }
      .road-card {
        &__descr {
          max-width: 255px;
        }
      }
    }
    &__3 {
      .road-card {
        &__descr {
          max-width: 333px;
        }
        &-circle {
          background-color: #FB7B54;
        }
        &-line {
          background: linear-gradient(-90deg, #FB7B54 0%, rgba(251, 123, 84, 0.00) 100%);
          width: 269px;
          @include Screen-1200 {
            width: 130px;
          }
        }
      }
    }


    // card

    @include Screen-992 {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}